{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <h1>Немного о сайте</h1>
    <p>Лаб 8 , Шамаилов Максим , ИУ5-53б </p><br>
    <p>Приложение по типу "todo-list", содержащее все по требованиям:</p>  
    <br>
    <ul>
        <li>На странице master в виде списка HTML выводится информация о трех объектах (например, о трех сортах мороженого). </li>
        <li>Страница detail содержит детальное описание объекта (сорта мороженого), фотографию, гиперссылку на master-страницу.</li>
        <li>Шаблон страницы detail получает от представления данные о детальном объекте с использованием контекста.</li>
        <li>НЕОБЯЗАТЕЛЬНЫЙ ПУНКТ. По желанию можно использовать верстку с применением Bootstrap (или аналогичного фреймворка), а также представления на основе классов (class-based views).</li>
    </ul>
{% endblock %}
